<nav class="panel-tabs" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a routerLink="" >object</a>
        <a routerLink="list">list page</a>
    </div>
</nav>

<!-- <a routerLink="">object</a><br>
<a routerLink="list">list page</a> -->

<router-outlet></router-outlet>
