<p>
  list works!
</p>
<div class="gridlist" >

  <div class="card" *ngFor="let obj of allObject">
      <header class="card-header">
        <p class="card-header-title">
          {{ obj.name }}
        </p>
      </header>
      <div class="card-content">
        <div>
          {{obj.type}}
        </div>
        <div>
          {{obj.description}}
        </div>
        <div>
          <button class="button is-primary" (click)="showModal('edit-modal',obj)">Edit</button>
        </div>
        <div>
          <button class="button is-primary" (click)="showModal('detalse-modal',obj)">View Details</button>
        </div>
        <div>
          <button class="button is-primary" (click)="delete(obj)">delete</button>
        </div>
        <div>
            <button class="button is-primary" (click)="showModalLink('link-modal',obj,allObject)">link</button>
          </div>
      </div>

  </div>
  </div>
  <div class="modal">
      <div class="modal-background"></div>
      <div class="modal-content">
      </div>
      <button class="button is-primary" class="modal-close is-large" aria-label="close"></button>
    </div>

    <!-- this modal for edit button -->
<div class="modal" id="edit-modal" [ngClass]="{ 'is-active' : isModalActive }">
  <div class="modal-background" (click)="toggleModal()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Edit Object Detalse </p>
      <button class="delete" aria-label="close" (click)="closeModal('edit-modal')"></button>
    </header>
    <section class="modal-card-body">
      <div class="control">
        <input class="input is-primary" type="text" value='Name' [(ngModel)]='Name' >
        <input class="input is-primary" type="text" value={{Type}} [(ngModel)]='Type'>
        <input class="input is-primary" type="text" value={{Description}} [(ngModel)]='Description'>
<h3>{{fid}}</h3>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-primary"  (click)="editSaveChange(FID)">Save changes</button>
    </footer>
  </div>
</div>

<!-- this modal for detalse button, to show object detalse-->
<div class="modal" id="detalse-modal" [ngClass]="{ 'is-active' : isModalActive }">
  <div class="modal-background" (click)="toggleModal()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">3D Object Detalse</p>
      <button class="delete" aria-label="close" (click)="closeModal('detalse-modal')"></button>
    </header>
    <section class="modal-card-body">
      <div class="control">
          <table>
            <tr>
              <td>Object Name</td>
              <td>{{Name}} </td>
            </tr>
            <tr>
              <td>Object Type</td>
              <td>{{Type}} </td>
            </tr>
            <tr>
              <td>Object Description</td>
              <td>{{Description}} </td>
              </tr>
          </table>
      </div>
    </section>
  </div>
</div>

<!-- this modal for create relashen between anatomy and vendor-->
<div class="modal" id="link-modal" [ngClass]="{ 'is-active' : isModalActive }">
    <div class="modal-background" (click)="toggleModal()"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Create Relation Between Two Objects</p>
        <button class="delete" aria-label="close" (click)="closeModal('link-modal')"></button>
      </header>
      <section class="modal-card-body">
        <div class="control">
            <div class="field">
                <div class="control">
                  <div class="select is-primary">
                    <select  [(ngModel)]='selectedOptions'>
                      <option>{{Name}}</option>
                      <option *ngFor="let objs of myShowObj" value={{objs}}>{{objs}}</option>
                    </select>
                  </div>
                </div>
              </div>
        </div>
      </section>
      <footer class="modal-card-foot">
          <button class="button is-primary"  (click)="creatLink('link-modal',selectedOptions,Name)">Save changes</button>
        </footer>
    </div>
  </div>
  