
  <canvas id="renderCanvas"></canvas>
<input class="input is-primary" id="importFile" type="file" [(ngModel)]="filePath" (change)="ImportFile($event)">
<button type="submit" (click)="dataURItoBlob()">Upload Image</button>

<!-- <button (click)='showModal()'></button> -->
<div class="modal" id="m1" [ngClass]="{ 'is-active' : isModalActive }">
    <div class="modal-background" (click)="toggleModal()"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">3D Object Properties</p>
        <!-- <button class="delete" aria-label="close" (click)="closeModal()"></button> -->
      </header>
      <section class="modal-card-body">
          <div class="control">
              <input class="input" type="text" value={{Name}} [(ngModel)]='Name' >
              <input class="input" type="text" value={{Type}} [(ngModel)]='Type' >
              <input class="input" type="text" value={{Description}} [(ngModel)]='Description'>
            </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" (click)="saveChange()">Save changes</button>
        <!-- <button class="modal-close" aria-label="close" (click)="closeModal()">Cancel</button> -->
      </footer>
    </div>
  </div>